* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.bg-wallpaper {
	background-image: url(../img/bg-wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: fit-content;

}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	display: flex;
	justify-content:flex-end;
	align-items: center;
	position: absolute;
	margin: auto;
	left: 20%;
	right: 0;
}
.top-img {
	width: 340px;
	text-align: center;
}

@media (max-width: 1243px) {
	.section .section-center {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	#login {
		font-family: 'Lato', sans-serif;
		background-image: none;
		overflow-x: scroll;
	}
	.section-center .top-img{
		width: 380px;
		text-align: center;
	}
	.login-cta p {
		font-size: 10px;
		color: #191a1e;
		text-align: center;
	}
	 h2 {
		font-weight: 700;
		color: darkgreen;
		font-size: 16px;
	}
	.login-form .submit-btn {
		color: #fff;
		background-color: darkgreen;
		font-weight: bold;
		height: 65px;
		font-size: 18px;
		border: none;
		width: 50%;
		border-radius: 4px;
		text-transform: uppercase;
		cursor: pointer;
	}
	
}

#login {
	font-family: 'Lato', sans-serif;
	color: #191a1e;
}

.login-form {
	position: relative;
	background: rgb(255, 255, 255, 0.9);
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 25px 35px 35px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
}

.login-form h2 {
	font-weight: 700;
	color: darkgreen;
	font-size: 30px;
}

.login-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.login-form .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.login-form .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.login-form .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.login-form .form-control::placeholder {
	color: #dfe5e9;
}

.login-form .form-control:focus {
	background: #f9fafb;
}

.login-form input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.login-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.login-form select.form-control+.select-arrow {
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: 14px;
}

.forgot-password a {
	font-style: italic;
	color: #fa1c1c;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;
}
.login-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.login-form .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: darkgreen;
}

.login-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.login-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700;
	color: #191a1e;
}

.login-form .form-checkbox label+label {
	margin-left: 15px;
}

.login-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background-color: darkgreen;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.login-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: darkgreen;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.login-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.login-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.login-form .submit-btn {
	color: #fff;
	background-color: darkgreen;
	font-weight: bold;
	height: 40px;
	font-size: 16px;
	border: none;
	width: 40%;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.login-cta {
	margin-top: 95px;
	text-align: center;
}

.login-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: darkgreen;
	font-weight: bold;
}
.section-center img{
	max-width: 560px;
	text-align: center;
}
.form-btn {
	margin: auto;
}

.login-cta p {
	font-size: 19px;
	color: #191a1e;
	text-align: center;
	justify-self: center;
}
.reminder p{
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.reminder-text {
	font-size: 13px;
}

/* Main page */

@media (max-width: 980px) {
	header {
		margin: auto;
	}
	body {
		background: none;
	}
	.logo_container {
		height: 65px;
		padding-top: 30px
	 }
	.logo_container_outer .logo_container {
		height: 210px;
		background: #fff;
		border-bottom: 10px solid orange;
	}
	.form-2-container {
		margin-top: 30px;
	}
	.form-box {
		margin-top: 25px;
		margin-bottom: 85px;
	}
	footer {
		text-align: center;
	}
	.main {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
}

.logo_container_outer {
	height: 160px;
	background: #fff;
	border-bottom: 10px solid orange;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	color: darkgreen;
	text-align: center;
	border-top: 2px solid #191a1e;
 }

 .footer {
	font-size: 12px;

 }

 .logo_container {
	height: 45px;
	padding-top: 30px
 }

 .logo_container img{
	width: 350px;
	display: flex;
	justify-content: flex-start;
 }
 .logo_container .right-align{
	display: flex;
	align-items: end;
	flex-direction: column;
	margin-left: auto;
	margin-right: -46vw !important;

 }
 .logo_container .right-align a {
	display: inline;
	color: #fa1c1c;
 }

footer{
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
 }

/***** Form 2 *****/

.form-box { padding-top: 30px; text-align: left; }

.form-box legend { font-size: inherit; line-height: 30px; font-weight: 600; text-transform: uppercase; color: #555; }

.form-box .form-check-label { line-height: 1.5; vertical-align: top; }

.form-box input[type="text"],
.form-box textarea {
    background: #fff; border: 2px solid #ddd; 
    font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; 
    box-shadow: none;
}

.form-box textarea { height: 120px; }

.form-box input[type="text"]:focus,
.form-box textarea:focus { outline: 0; background: #fff; border: 2px solid darkgreen; box-shadow: none; }

.form-box input[type="text"]::-moz-placeholder,
.form-box textarea::-moz-placeholder { color: #bbb; font-style: italic; }

.form-box input[type="text"]:-ms-input-placeholder,
.form-box textarea:-ms-input-placeholder { color: #bbb; font-style: italic; }

.form-box input[type="text"]::-webkit-input-placeholder,
.form-box textarea::-webkit-input-placeholder { color: #bbb; font-style: italic; }

.form-box button.btn-customized {
	margin-top: 1rem; padding: .75rem 1.5rem; 
	background: darkgreen; border: 0; 
	font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #fff; 
    box-shadow: none;
}

.form-box button.btn-customized:hover, 
.form-box button.btn-customized:active, 
.form-box button.btn-customized:focus, 
.form-box button.btn-customized:active:focus, 
.form-box button.btn-customized.active:focus,
.form-box button.btn.btn-primary:not(:disabled):not(.disabled):active,
.form-box button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: darkgreen; border: 0; color: #fff; box-shadow: none;
}

label {
	font-size: 14px;
}

#main {
	margin: auto !important;
}

.table-bg {
	padding: 10px;
	background-color: #fff;
}
.header-group {
	width: 100%;
	background-color: #fff7e0;
	border: 2px solid rgb(234, 220, 220);
}

.header-group p {
	font-size: 13px;
}

.bg-orange {
	background: rgb(255, 227, 174);
	padding: 10px 10px 0;

}

.header-group h6, .padd{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 20px 20px 0;
	font-size: 20px;
}
.results-footer {
	background-color: #fff7e0;
}
.results-footer p {
	font-size: 13px;
	padding: 10px 10px 0;

}

.dload-btn{
	background: darkgreen;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 10px;
}
.dload-btn:hover{
	background: orange;
	color: darkgreen;
	font-weight: bold;
	padding: 10px;
}

.main legend{
	font-size: inherit;
	font-weight: bold;
	color: darkgreen;
}
.cab {
	font-size: 12px;
}

.par {
	padding: 10px 10px 0;

}
.para {
	padding: 0 20px 0;

}

.title {
	padding: 15px 0 0;
	font-size: 15px;
	font-style: italic;
}
.title-1 {
	padding: 15px 0 0;
	font-size: 14px;
	color: darkgreen;
}
